{% extends "base.html" %}

{% block content %}
<style>
    *{
        text-align: center;
        font-size: 50px;
    }
</style>
<h1>Pošalji mejl</h1>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.first_name.label }}<br>
        {{ form.first_name }}
        {% for error in form.first_name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email }}
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.message.label }}<br>
        {{ form.message }}
        {% for error in form.message.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>

{% endblock %}
